## Extracting from DB with SQL, Pandas

In [1]:
import pandas as pd
import numpy as np
from pandasql import *

In [2]:
df = pd.read_csv("/Users/woowahan/Documents/Python/DS_Ext_School/tutorial_01/doc_use_log.csv")

In [3]:
df.head()

,actiontype,ismydoc,ext,sessionid,documentposition,datetime
0,OPEN,False,PDF,9400fd2e43d7dc2d054ca78806236ee1,LOCALSTORAGE,2016.7.18
1,CLOSE,False,PDF,9400fd2e43d7dc2d054ca78806236ee1,LOCALSTORAGE,2016.7.18
2,OPEN,True,PDF,9400fd2e43d7dc2d054ca78806236ee1,MYPOLARISDRIVE,2016.7.18
3,CLOSE,True,PDF,9400fd2e43d7dc2d054ca78806236ee1,MYPOLARISDRIVE,2016.7.18
4,OPEN,False,PDF,f191063c562691041dfa935ff0876975,OTHERAPP,2016.7.6

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301861 entries, 0 to 301860
Data columns (total 6 columns):
actiontype          301861 non-null object
ismydoc             301861 non-null bool
ext                 301861 non-null object
sessionid           301861 non-null object
documentposition    301861 non-null object
datetime            301861 non-null object
dtypes: bool(1), object(5)
memory usage: 11.8+ MB

---
Reference: http://blog.yhat.com/posts/pandasql-sql-for-pandas-dataframes.html    

**To install the library:**   
`$ pip install -U pandasql`  

> locals() vs. globals()
pandasql needs to have access to other variables in your session/environment. You can pass locals() to pandasql when executing a SQL statement, but if you're running a lot of queries that might be a pain. To avoid passing locals all the time, you can add this helper function to your script to set globals() like so:

In [6]:
q = """
    SELECT * 
    FROM df 
    WHERE datetime = '2016.7.18'
    LIMIT 10
    """

print sqldf(q, locals())

  actiontype  ismydoc   ext                         sessionid  \
0       OPEN        0   PDF  9400fd2e43d7dc2d054ca78806236ee1
1      CLOSE        0   PDF  9400fd2e43d7dc2d054ca78806236ee1
2       OPEN        1   PDF  9400fd2e43d7dc2d054ca78806236ee1
3      CLOSE        1   PDF  9400fd2e43d7dc2d054ca78806236ee1
4      CLOSE        0  XLSX  92715134781294bd84888b6d161c89c0
5       OPEN        0  XLSX  92715134781294bd84888b6d161c89c0
6       OPEN        0   HWP  7a0783f0cb598ec2b0bed16245f09c6c
7       OPEN        0   PDF  9533edccc1161a8d8b516adf0842e4dd
8      CLOSE        0   PDF  9533edccc1161a8d8b516adf0842e4dd
9      CLOSE        0   DOC  9533edccc1161a8d8b516adf0842e4dd

  documentposition   datetime
0     LOCALSTORAGE  2016.7.18
1     LOCALSTORAGE  2016.7.18
2   MYPOLARISDRIVE  2016.7.18
3   MYPOLARISDRIVE  2016.7.18
4         OTHERAPP  2016.7.18
5         OTHERAPP  2016.7.18
6         OTHERAPP  2016.7.18
7         OTHERAPP  2016.7.18
8         OTHERAPP  2016.7.18
9         OTHERAPP  2016.7.18

In [7]:
q = """SELECT * 
       FROM df 
       WHERE ext = 'PDF'
           AND ismydoc = '0' 
       LIMIT 10"""

print sqldf(q, locals())

  actiontype  ismydoc  ext                         sessionid documentposition  \
0       OPEN        0  PDF  9400fd2e43d7dc2d054ca78806236ee1     LOCALSTORAGE
1      CLOSE        0  PDF  9400fd2e43d7dc2d054ca78806236ee1     LOCALSTORAGE
2       OPEN        0  PDF  f191063c562691041dfa935ff0876975         OTHERAPP
3      CLOSE        0  PDF  3747719d8f6bdd334703320433928d5a         OTHERAPP
4       OPEN        0  PDF  3747719d8f6bdd334703320433928d5a         OTHERAPP
5       OPEN        0  PDF  3da5ab986c93803de1e25012d9972274         OTHERAPP
6      CLOSE        0  PDF  3da5ab986c93803de1e25012d9972274         OTHERAPP
7       OPEN        0  PDF  9e37751e132b5eb96e7d3fde7db132e3         OTHERAPP
8      CLOSE        0  PDF  9e37751e132b5eb96e7d3fde7db132e3         OTHERAPP
9       OPEN        0  PDF  202c847b75c9920eb51337b1d5181e10         OTHERAPP

    datetime
0  2016.7.18
1  2016.7.18
2   2016.7.6
3  2016.7.20
4  2016.7.20
5  2016.7.28
6  2016.7.28
7  2016.7.19
8  2016.7.19
9  2016.7.24

In [8]:
# pandas
df[(df['ext'] == 'PDF') & (df['ismydoc'] == 0)].head(10)

,actiontype,ismydoc,ext,sessionid,documentposition,datetime
0,OPEN,False,PDF,9400fd2e43d7dc2d054ca78806236ee1,LOCALSTORAGE,2016.7.18
1,CLOSE,False,PDF,9400fd2e43d7dc2d054ca78806236ee1,LOCALSTORAGE,2016.7.18
4,OPEN,False,PDF,f191063c562691041dfa935ff0876975,OTHERAPP,2016.7.6
6,CLOSE,False,PDF,3747719d8f6bdd334703320433928d5a,OTHERAPP,2016.7.20
7,OPEN,False,PDF,3747719d8f6bdd334703320433928d5a,OTHERAPP,2016.7.20
8,OPEN,False,PDF,3da5ab986c93803de1e25012d9972274,OTHERAPP,2016.7.28
9,CLOSE,False,PDF,3da5ab986c93803de1e25012d9972274,OTHERAPP,2016.7.28
11,OPEN,False,PDF,9e37751e132b5eb96e7d3fde7db132e3,OTHERAPP,2016.7.19
12,CLOSE,False,PDF,9e37751e132b5eb96e7d3fde7db132e3,OTHERAPP,2016.7.19
16,OPEN,False,PDF,202c847b75c9920eb51337b1d5181e10,OTHERAPP,2016.7.24

In [9]:
# aggregation
q1 = """SELECT
            ext,
            count(ext) as count,
            count(distinct sessionid) as unq_sess
        FROM df
        GROUP BY ext
        ORDER BY count DESC
     """

print sqldf(q1, locals())

      ext  count  unq_sess
0     PDF  82004     37404
1    DOCX  58303     24842
2    XLSX  52118     23448
3     HWP  26244     11266
4     DOC  24586     11174
5     XLS  24489     11208
6    PPTX  15385      7053
7     TXT   9814      4569
8     PPT   5382      2596
9    PPSX   2374      1212
10    ODT    820       375
11    PPS    324       153
12    JPG      9         9
13  SHEET      5         3
14    PNG      2         2
15   WORD      2         1

In [10]:
# pandas
df.groupby("ext").agg({"ext": "count", "sessionid": "nunique"})\
  .rename(columns={"ext": "ext_cnt", "sessionid": "session_cnt"}).sort_values("ext_cnt", ascending=False).reset_index()

      ext  ext_cnt  session_cnt
0     PDF    82004        37404
1    DOCX    58303        24842
2    XLSX    52118        23448
3     HWP    26244        11266
4     DOC    24586        11174
5     XLS    24489        11208
6    PPTX    15385         7053
7     TXT     9814         4569
8     PPT     5382         2596
9    PPSX     2374         1212
10    ODT      820          375
11    PPS      324          153
12    JPG        9            9
13  SHEET        5            3
14    PNG        2            2
15   WORD        2            1

In [11]:
# Join
ios = pd.read_csv("/Users/woowahan/Documents/Python/DS_Ext_School/tutorial_01/ios.csv")

ios.head()

    idx                         sessionid flag
0  1331  b8a35b63d65e36fcbcf7284db362fa06  iOS
1  1335  ab9ea758f63a61463efa059c7183b976  iOS
2  1383  401e95152f65bcd9573bb1707967e82a  iOS
3  1385  7891c7016850ccca28b54b3f8f0c554e  iOS
4  1387  dd16321402b19a3f20261e6905e4e9bf  iOS

In [12]:
df.head()

,actiontype,ismydoc,ext,sessionid,documentposition,datetime
0,OPEN,False,PDF,9400fd2e43d7dc2d054ca78806236ee1,LOCALSTORAGE,2016.7.18
1,CLOSE,False,PDF,9400fd2e43d7dc2d054ca78806236ee1,LOCALSTORAGE,2016.7.18
2,OPEN,True,PDF,9400fd2e43d7dc2d054ca78806236ee1,MYPOLARISDRIVE,2016.7.18
3,CLOSE,True,PDF,9400fd2e43d7dc2d054ca78806236ee1,MYPOLARISDRIVE,2016.7.18
4,OPEN,False,PDF,f191063c562691041dfa935ff0876975,OTHERAPP,2016.7.6

In [13]:
## select only ios log data
# duplicate check of ios table
q = """SELECT
            count(sessionid) as session_cnt,
            count(distinct sessionid) as session_uniq_cnt
        FROM ios
        LIMIT 10
     """

print sqldf(q, locals())

   session_cnt  session_uniq_cnt
0          100               100

In [14]:
## join and select ios via flag col
q = """SELECT
            A.*, 
            B.flag
        FROM df A
            LEFT JOIN 
            (
            SELECT sessionid, flag
            FROM ios
            ) B
            ON A.sessionid = B.sessionid
        WHERE B.flag = 'iOS'    
        LIMIT 10
     """

print sqldf(q, locals())

  actiontype  ismydoc  ext                         sessionid documentposition  \
0      CLOSE        1  PDF  b8a35b63d65e36fcbcf7284db362fa06   MYPOLARISDRIVE
1       OPEN        1  PDF  b8a35b63d65e36fcbcf7284db362fa06   MYPOLARISDRIVE
2      CLOSE        0  PDF  ab9ea758f63a61463efa059c7183b976         OTHERAPP
3       OPEN        0  PDF  ab9ea758f63a61463efa059c7183b976         OTHERAPP
4      CLOSE        0  PDF  401e95152f65bcd9573bb1707967e82a         OTHERAPP
5       OPEN        0  PDF  401e95152f65bcd9573bb1707967e82a         OTHERAPP
6      CLOSE        0  PDF  7891c7016850ccca28b54b3f8f0c554e         OTHERAPP
7       OPEN        0  PDF  7891c7016850ccca28b54b3f8f0c554e         OTHERAPP
8      CLOSE        1  HWP  dd16321402b19a3f20261e6905e4e9bf         OTHERAPP
9       OPEN        1  HWP  dd16321402b19a3f20261e6905e4e9bf         OTHERAPP

    datetime flag
0  2016.7.29  iOS
1  2016.7.29  iOS
2  2016.7.29  iOS
3  2016.7.29  iOS
4  2016.7.17  iOS
5  2016.7.17  iOS
6  2016.7.25  iOS
7  2016.7.25  iOS
8  2016.7.12  iOS
9  2016.7.12  iOS

In [15]:
# pandas
df.merge(ios, on="sessionid", how="left").query("flag =='iOS'").drop('idx', axis=1).head(10)

,actiontype,ismydoc,ext,sessionid,documentposition,datetime,flag
555,CLOSE,True,PDF,b8a35b63d65e36fcbcf7284db362fa06,MYPOLARISDRIVE,2016.7.29,iOS
557,OPEN,True,PDF,b8a35b63d65e36fcbcf7284db362fa06,MYPOLARISDRIVE,2016.7.29,iOS
559,CLOSE,False,PDF,ab9ea758f63a61463efa059c7183b976,OTHERAPP,2016.7.29,iOS
560,OPEN,False,PDF,ab9ea758f63a61463efa059c7183b976,OTHERAPP,2016.7.29,iOS
563,CLOSE,False,PDF,401e95152f65bcd9573bb1707967e82a,OTHERAPP,2016.7.17,iOS
564,OPEN,False,PDF,401e95152f65bcd9573bb1707967e82a,OTHERAPP,2016.7.17,iOS
565,CLOSE,False,PDF,7891c7016850ccca28b54b3f8f0c554e,OTHERAPP,2016.7.25,iOS
566,OPEN,False,PDF,7891c7016850ccca28b54b3f8f0c554e,OTHERAPP,2016.7.25,iOS
567,CLOSE,True,HWP,dd16321402b19a3f20261e6905e4e9bf,OTHERAPP,2016.7.12,iOS
568,OPEN,True,HWP,dd16321402b19a3f20261e6905e4e9bf,OTHERAPP,2016.7.12,iOS

## Questions 
- actiontype 
    - df 테이블의 Action Type의 유니크한 값이 무엇이 있는지 확인하기
    - 유니크 값(항목)별 유니크한 세션수 빈도는? 
    - 이 빈도 기준으로 내림차순 정렬하기

In [16]:
q = """SELECT
            actiontype,
            COUNT (DISTINCT sessionid) as session_cnt_uniq
        FROM df
        GROUP BY actiontype
        ORDER BY session_cnt_uniq DESC
     """

print sqldf(q, locals())

     actiontype  session_cnt_uniq
0          OPEN            112771
1         CLOSE             95901
2          SAVE              8251
3         RESET              7467
4        SAVEAS              4488
5   EXPORT_SAME                57
6        EXPORT                17
7  SAVEAS_OTHER                 5

## Questions 
- documentposition, actiontype
    - ismydoc이 1(True)인 경우에 한해
    - 날짜별 세션수의 유니크 빈도 구하기
    - 유니크 빈도가 가장 큰 top 5 날짜 확인하기

In [17]:
q = """SELECT 
            datetime,
            COUNT (DISTINCT sessionid) as session_cnt_uniq
        FROM df
        WHERE ismydoc = '1'
        GROUP BY datetime
        ORDER BY session_cnt_uniq DESC
        LIMIT 5
     """

print sqldf(q, locals())

    datetime  session_cnt_uniq
0  2016.7.12              2425
1  2016.7.19              2325
2   2016.7.1              2297
3  2016.7.13              2294
4  2016.7.14              2286

## Questions 
- documentposition, ext
    - 문서 포지션별 로 자주 사용되는 확장자(ext) 확인하기
    - 카운트 기준: unique sessionid
    - 그룹별, 세션카운트 기준 desc 정렬

In [18]:
df.head()

,actiontype,ismydoc,ext,sessionid,documentposition,datetime
0,OPEN,False,PDF,9400fd2e43d7dc2d054ca78806236ee1,LOCALSTORAGE,2016.7.18
1,CLOSE,False,PDF,9400fd2e43d7dc2d054ca78806236ee1,LOCALSTORAGE,2016.7.18
2,OPEN,True,PDF,9400fd2e43d7dc2d054ca78806236ee1,MYPOLARISDRIVE,2016.7.18
3,CLOSE,True,PDF,9400fd2e43d7dc2d054ca78806236ee1,MYPOLARISDRIVE,2016.7.18
4,OPEN,False,PDF,f191063c562691041dfa935ff0876975,OTHERAPP,2016.7.6

In [22]:
q = """SELECT 
            documentposition,
            ext,
            COUNT (DISTINCT sessionid) as session_cnt_uniq
        FROM df
        GROUP BY documentposition, actiontype
        ORDER BY documentposition, session_cnt_uniq DESC
     """

print sqldf(q, locals())

   documentposition   ext  session_cnt_uniq
0      LOCALSTORAGE  DOCX              7543
1      LOCALSTORAGE  XLSX              6383
2      LOCALSTORAGE   DOC              1805
3      LOCALSTORAGE   TXT               971
4      LOCALSTORAGE   XLS               140
5      LOCALSTORAGE   ODT                18
6      LOCALSTORAGE   PNG                10
7    MYPOLARISDRIVE   PDF             22115
8    MYPOLARISDRIVE   PDF             16064
9    MYPOLARISDRIVE   XLS              5808
10   MYPOLARISDRIVE  DOCX              3283
11   MYPOLARISDRIVE  XLSX               530
12   MYPOLARISDRIVE  PPTX                22
13   MYPOLARISDRIVE  PPTX                 4
14      NEWDOCUMENT  DOCX              3845
15      NEWDOCUMENT  PPTX              1811
16      NEWDOCUMENT   HWP               572
17      NEWDOCUMENT  PPTX               192
18      NEWDOCUMENT  PPTX               147
19      NEWDOCUMENT   HWP                26
20      NEWDOCUMENT   PDF                 4
21             NONE  XLSX              3194
22             NONE   PDF                72
23         OTHERAPP   PPT             88121
24         OTHERAPP   PPT             74733
25         OTHERAPP  DOCX              6741
26         OTHERAPP   HWP               145
27         OTHERAPP   HWP                80
28         OTHERAPP   JPG                 2
29         OTHERAPP   PDF                 1
30       OTHERCLOUD  XLSX               575
31       OTHERCLOUD  XLSX               482
32       OTHERCLOUD  XLSX               255
33       OTHERCLOUD  DOCX               166
34       OTHERCLOUD   DOC                 5
35       OTHERCLOUD   PDF                 1
36   SHAREDDOCUMENT  XLSX                52
37   SHAREDDOCUMENT  XLSX                22
38   SHAREDDOCUMENT   HWP                 1