## Preprocessing with SQL, Pandas

In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("/Users/songhunhwa/Documents/Python/DS_Ext_School/tutorial_01/doc_use_log.csv", index_col=0)

In [9]:
df.head()

,actiontype,ismydoc,ext,sessionid,documentposition,datetime
0,OPEN,False,PDF,9400fd2e43d7dc2d054ca78806236ee1,LOCALSTORAGE,2016-7-18
1,CLOSE,False,PDF,9400fd2e43d7dc2d054ca78806236ee1,LOCALSTORAGE,2016-7-18
4,OPEN,True,PDF,9400fd2e43d7dc2d054ca78806236ee1,MYPOLARISDRIVE,2016-7-18
5,CLOSE,True,PDF,9400fd2e43d7dc2d054ca78806236ee1,MYPOLARISDRIVE,2016-7-18
6,OPEN,False,PDF,f191063c562691041dfa935ff0876975,OTHERAPP,2016-7-6

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500000 entries, 0 to 864043
Data columns (total 6 columns):
actiontype          500000 non-null object
ismydoc             500000 non-null bool
ext                 500000 non-null object
sessionid           500000 non-null object
documentposition    500000 non-null object
datetime            500000 non-null object
dtypes: bool(1), object(5)
memory usage: 23.4+ MB

---
Source: http://blog.yhat.com/posts/pandasql-sql-for-pandas-dataframes.html    
**To install the library:**   
`$ pip install -U pandasql`

In [8]:
from pandasql import *

In [16]:
q = """SELECT * 
       FROM df 
       WHERE ext = 'PDF'
           AND ismydoc = '0' 
       LIMIT 10"""

In [17]:
print sqldf(q, locals())

  actiontype  ismydoc  ext                         sessionid documentposition  \
0       OPEN        0  PDF  9400fd2e43d7dc2d054ca78806236ee1     LOCALSTORAGE
1      CLOSE        0  PDF  9400fd2e43d7dc2d054ca78806236ee1     LOCALSTORAGE
2       OPEN        0  PDF  9400fd2e43d7dc2d054ca78806236ee1     LOCALSTORAGE
3      CLOSE        0  PDF  9400fd2e43d7dc2d054ca78806236ee1     LOCALSTORAGE
4       OPEN        0  PDF  f191063c562691041dfa935ff0876975         OTHERAPP
5       OPEN        0  PDF  f191063c562691041dfa935ff0876975         OTHERAPP
6       OPEN        0  PDF  f191063c562691041dfa935ff0876975         OTHERAPP
7       OPEN        0  PDF  f191063c562691041dfa935ff0876975         OTHERAPP
8      CLOSE        0  PDF  3747719d8f6bdd334703320433928d5a         OTHERAPP
9       OPEN        0  PDF  3747719d8f6bdd334703320433928d5a         OTHERAPP

  otherCloud   datetime
0       NONE  2016-7-18
1       NONE  2016-7-18
2       NONE  2016-7-18
3       NONE  2016-7-18
4       NONE   2016-7-6
5       NONE   2016-7-6
6       NONE   2016-7-6
7       NONE   2016-7-6
8       NONE  2016-7-20
9       NONE  2016-7-20

In [24]:
df[(df['ext'] == 'PDF') & (df['ismydoc'] == 0)].head(10)

,actiontype,ismydoc,ext,sessionid,documentposition,otherCloud,datetime
0,OPEN,False,PDF,9400fd2e43d7dc2d054ca78806236ee1,LOCALSTORAGE,NONE,2016-7-18
1,CLOSE,False,PDF,9400fd2e43d7dc2d054ca78806236ee1,LOCALSTORAGE,NONE,2016-7-18
2,OPEN,False,PDF,9400fd2e43d7dc2d054ca78806236ee1,LOCALSTORAGE,NONE,2016-7-18
3,CLOSE,False,PDF,9400fd2e43d7dc2d054ca78806236ee1,LOCALSTORAGE,NONE,2016-7-18
6,OPEN,False,PDF,f191063c562691041dfa935ff0876975,OTHERAPP,NONE,2016-7-6
8,OPEN,False,PDF,f191063c562691041dfa935ff0876975,OTHERAPP,NONE,2016-7-6
9,OPEN,False,PDF,f191063c562691041dfa935ff0876975,OTHERAPP,NONE,2016-7-6
10,OPEN,False,PDF,f191063c562691041dfa935ff0876975,OTHERAPP,NONE,2016-7-6
11,CLOSE,False,PDF,3747719d8f6bdd334703320433928d5a,OTHERAPP,NONE,2016-7-20
12,OPEN,False,PDF,3747719d8f6bdd334703320433928d5a,OTHERAPP,NONE,2016-7-20

In [25]:
q1 = """SELECT
            ext,
            count(ext) as count,
            count(distinct sessionid) as unq_sess
        FROM df
        GROUP BY ext
        ORDER BY count DESC
     """

In [26]:
print sqldf(q1, locals())

      ext   count  unq_sess
0     PDF  267310     71251
1    DOCX  177290     47760
2    XLSX  153192     44101
3     HWP   83965     21349
4     DOC   72573     21217
5     XLS   72421     22189
6           56280         1
7    PPTX   48131     13455
8     TXT   34424      8612
9     PPT   17374      4977
10   PPSX    6629      2358
11    ODT    2144       729
12    PPS    1357       296
13  SHEET      88        33
14    JPG      27        12
15   WORD      10         1
16    PNG       3         3
17  SLIDE       1         1
18   None       0         1

In [29]:
df.groupby("ext").agg({"ext": "count", "sessionid": "nunique"}).sort_values("ext", ascending=False)

          ext  sessionid
ext
PDF    267310      71251
DOCX   177290      47760
XLSX   153192      44101
HWP     83965      21349
DOC     72573      21217
XLS     72421      22189
        56280          1
PPTX    48131      13455
TXT     34424       8612
PPT     17374       4977
PPSX     6629       2358
ODT      2144        729
PPS      1357        296
SHEET      88         33
JPG        27         12
WORD       10          1
PNG         3          3
SLIDE       1          1

In [51]:
ios = pd.read_csv("/Users/songhunhwa/Documents/Python/DS_Ext_School/tutorial_01/ios.csv")
ios.head()

    idx                         sessionid flag
0  1331  b8a35b63d65e36fcbcf7284db362fa06  iOS
1  1335  ab9ea758f63a61463efa059c7183b976  iOS
2  1383  401e95152f65bcd9573bb1707967e82a  iOS
3  1385  7891c7016850ccca28b54b3f8f0c554e  iOS
4  1387  dd16321402b19a3f20261e6905e4e9bf  iOS

In [56]:
q2 = """SELECT
            *
        FROM df A
            LEFT JOIN ios B
            ON A.sessionid = B.sessionid
        LIMIT 10
     """

In [57]:
print sqldf(q2, locals())

  actiontype  ismydoc  ext                         sessionid documentposition  \
0       OPEN        0  PDF  9400fd2e43d7dc2d054ca78806236ee1     LOCALSTORAGE
1      CLOSE        0  PDF  9400fd2e43d7dc2d054ca78806236ee1     LOCALSTORAGE
2       OPEN        0  PDF  9400fd2e43d7dc2d054ca78806236ee1     LOCALSTORAGE
3      CLOSE        0  PDF  9400fd2e43d7dc2d054ca78806236ee1     LOCALSTORAGE
4       OPEN        1  PDF  9400fd2e43d7dc2d054ca78806236ee1   MYPOLARISDRIVE
5      CLOSE        1  PDF  9400fd2e43d7dc2d054ca78806236ee1   MYPOLARISDRIVE
6       OPEN        0  PDF  f191063c562691041dfa935ff0876975         OTHERAPP
7      RESET        1  PDF  f191063c562691041dfa935ff0876975         OTHERAPP
8       OPEN        0  PDF  f191063c562691041dfa935ff0876975         OTHERAPP
9       OPEN        0  PDF  f191063c562691041dfa935ff0876975         OTHERAPP

  otherCloud   datetime   idx sessionid  flag
0       NONE  2016-7-18  None      None  None
1       NONE  2016-7-18  None      None  None
2       NONE  2016-7-18  None      None  None
3       NONE  2016-7-18  None      None  None
4       NONE  2016-7-18  None      None  None
5       NONE  2016-7-18  None      None  None
6       NONE   2016-7-6  None      None  None
7       NONE   2016-7-6  None      None  None
8       NONE   2016-7-6  None      None  None
9       NONE   2016-7-6  None      None  None

In [64]:
df.merge(ios, on="sessionid", how="left").head(10)#.query("flag =='iOS'").head(10)

,actiontype,ismydoc,ext,sessionid,documentposition,otherCloud,datetime,idx,flag
0,OPEN,False,PDF,9400fd2e43d7dc2d054ca78806236ee1,LOCALSTORAGE,NONE,2016-7-18,NaN,NaN
1,CLOSE,False,PDF,9400fd2e43d7dc2d054ca78806236ee1,LOCALSTORAGE,NONE,2016-7-18,NaN,NaN
2,OPEN,False,PDF,9400fd2e43d7dc2d054ca78806236ee1,LOCALSTORAGE,NONE,2016-7-18,NaN,NaN
3,CLOSE,False,PDF,9400fd2e43d7dc2d054ca78806236ee1,LOCALSTORAGE,NONE,2016-7-18,NaN,NaN
4,OPEN,True,PDF,9400fd2e43d7dc2d054ca78806236ee1,MYPOLARISDRIVE,NONE,2016-7-18,NaN,NaN
5,CLOSE,True,PDF,9400fd2e43d7dc2d054ca78806236ee1,MYPOLARISDRIVE,NONE,2016-7-18,NaN,NaN
6,OPEN,False,PDF,f191063c562691041dfa935ff0876975,OTHERAPP,NONE,2016-7-6,NaN,NaN
7,RESET,True,PDF,f191063c562691041dfa935ff0876975,OTHERAPP,NONE,2016-7-6,NaN,NaN
8,OPEN,False,PDF,f191063c562691041dfa935ff0876975,OTHERAPP,NONE,2016-7-6,NaN,NaN
9,OPEN,False,PDF,f191063c562691041dfa935ff0876975,OTHERAPP,NONE,2016-7-6,NaN,NaN

## Questions
1. Action Type와 documentposition의 유니크한 값이 무엇있는지, 그리고 각 빈도 테이블을 만들기 
2. ismydoc이 True인 경우에 한해 날짜별 세션수의 빈도와 유니크 빈도를 구하기
3. 날짜별로 documentposition의 이용 빈도를 시계열로 표현하기
3. 문서 포지션별로 자주 저장 혹은 내보내기(actiontype = 'SAVE' or 'export'가 이용되는 확장자 TOP 3 구하기
4. 조인한 LEFT 대신 Inner를 사용하여 iOS 데이터만 추출하고 행의 카운트를 비교하기